<% layout("/layouts/boilerplate.ejs") %>
<div class="container-fluid py-1 px-4">
    <div class="row align-items-center mb-4">
        <div class="col-lg-2 col-md-3 col-12 text-center ">
           <img src="<%= currUser.profileImage.url %>"   class="profile-img">
        </div>
        <div class="col-lg-3 col-md-4 col-12 text-center text-md-start  mt-md-0">
            <h2><%= user.username %></h2>
            <p><%= user.email %></p>
        </div>
        <div class="col-lg-7 col-md-5 col-12 mt-3 mt-md-0">
            <%let percentage=0;
                if(user.highestStreak>0){
                    percentage=(user.currentStreak/user.highestStreak)*100;
                }
            %>
            <div class="card p-3 ">
                <h4>Streak Progress</h4>
                <div class="d-flex justify-content-between">
                    <span>Current: <%= user.currentStreak %> days</span>
                    <span>Record: <%= user.highestStreak %> days</span>
                </div>
                <div class="progress mt-3" style="height: 25px;">
                    <div class="progress-bar" role="progressbar"style="width: <%= percentage %>%">
                            <%= user.currentStreak %> days
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-8 mt-4">
        <div class="col-md-3">
            <h5>Total Posts: <%= createdPosts.length %></h5>
        </div>
        <div class="col-md-5">
            <h5>Total Likes Received: <%= totalLikesReceived %></h5>
        </div>
    </div>
    <a href="/user/profile/edit" class="btn profile-btn custom-btn" id="profile-edit">Edit your profile</a>
    <hr>
    <h3><%= createdPosts.length %> Created Posts</h3>
    <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 mt-3">
        <% createdPosts.forEach(post => { %>
            <a href="/feed/<%= post._id %>" class="nav-link">
                <div class="card mb-3 h-100">
                    <img src="<%= post.image.url %>" class="card-img-top profile-post-img">
                    <div class="card-body">
                        <h5><%= post.title %></h5>
                    </div>
                </div>
            </a>
        <% }) %>
    </div>
    <hr>
    <h3><%= likedPosts.length %> Liked Posts</h3>
        <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 mt-3">
            <% likedPosts.forEach(post => { %>
                <a href="/feed/<%= post._id %>" class="nav-link">
                    <div class="card  mb-3 h-100">
                        <img src="<%= post.image.url %>" class="card-img-top profile-post-img">
                        <div class="card-body">
                            <h5><%= post.title %></h5>
                        </div>
                    </div>
                </a>
            <% }) %>
        </div>

</div>