<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="container-fluid py-4 px-4">
        <div>
            <h1> <%= feed.title %> </h1>
            <p class=" text-muted"><i>-@<%= feed.owner.username %></i></p>
            <img src="<%= feed.image.url %>" class="single-feed-img" alt="feed image">
            <h3> <%= feed.description %> </h3>
            <p class="feed-info"><%= feed.info %> </p>
            <div>
                <p>Likes: <%= feed.likes %></p>
            </div>
            <br><br>
            <% if(currUser&&currUser._id.equals(feed.owner.id)){ %>
            <div class="modification-button">
                <form method="get" action="/feed/<%= feed._id %>/edit ">
                    <button type="submit" id="edit" class="btn ">Edit</button>
                </form>
                <form method="post" action="/feed/<%= feed._id %>?_method=delete">
                    <button type="submit" id="delete" class="btn ">Delete</button>
                </form>
            </div>
            <% } %>
        </div>
        <hr>
        <div class="comment-section">
            <h4> <%= feed.reviews.length %> Comments</h4>
            <form action="/feed/<%= feed._id %>/reviews" method="post" novalidate class="needs-validation">
                <input type="text" class="form-control" name="review[comment]" required placeholder="Add a comment"><br>
                <button id="comment" class="btn custom-btn">comment</button>
            </form>
        </div>
        <div class="row">
            <% for(review of feed.reviews){ %>
                <div class="col-lg-4 col-md-6 col-12 mb-3">
                    <div class="card h-100">
                    <div class="d-flex justify-content-between align-items-center p-2">
                        <div class="card-title" >
                            <i class="fa-solid  fa-circle-user"></i><%= review.author.username %>
                        </div>
                        <% if(currUser&&currUser._id.equals(review.author.id)){ %>
                        <div>
                            <form method="post" action="/feed/<%= feed._id %>/reviews/<%= review._id %>?_method=delete">
                                <button class="btn"><i style="color:#FF7F2A;" class="fa-solid fa-trash"></i></button>
                            </form>   
                        </div>
                        <% } %>
                    </div>
                    <div class="card-body">
                        <p class="card-text"> <%= review.comment %> <p> 
                    </div>
                    </div>
                </div>
            <% } %>
        </div>   
    </div>
</body> 