<% layout("/layouts/boilerplate.ejs") %>
<body>
     
    <div class="feed-card px-4" >
        <div  class="feed-content">
            <h1 class="card-title"><%= feed.title %></h1>
            <p class="card-text"><%= feed.description %></p><a href="/feed/<%=feed._id%>">Read more</a><br>
            <div>
                <form action="/feed/<%= feed._id %>/like" method="POST">
                    <button class="btn border-0 bg-transparent">
                        <i class="<%= isLiked?'fa-solid fa-heart':'fa-regular fa-heart' %>"></i><br>
                        <%= feed.likes %>
                    </button>
                </form>
            </div>
            <br>
            <br>
            <div>
                <h4>Comment</h4>
                <form action="/feed/<%= feed._id %>/reviews" method="post" novalidate class="needs-validation">
                    <div>
                        <input type="text" class="form-control" name="review[comment]" required placeholder="Add a comment"><br>
                        <div class="invalid-feedback" >Comment cannot be empty!</div>
                    </div>
                    <button id="comment" class="btn custom-btn">comment</button>
                </form>
            </div> 
            
        </div>
        <div  class="feed-img">
            <img src="<%= feed.image.url %>" class="card-img-top" alt="feed-img">   
        </div>
    </div>
</body>
